In [1]:
from covid19 import get_death_data
from covid19 import get_confirm_data
from covid19 import get_recovery_data
from covid19 import get_population_data

In [2]:
import pandas as pd
from datetime import datetime
from datetime import date

In [3]:
data_deaths = get_death_data()
data_confirmed = get_confirm_data()
data_population = get_population_data()

In [4]:
def get_first_dt(dat, out_name):
    out_data = []
    for country in dat.T:
        try:
            dt = (dat.T[dat.T[country]>0]).index[0]
            dt = datetime.strptime(dt, "%m/%d/%y")
        except:
            dt = None
        out_data.append([country, dt])
    out_data = pd.DataFrame(out_data)
    out_data.columns = ['country', out_name]
    out_data.set_index('country', inplace = True)
    return out_data

In [5]:
timeline = get_first_dt(data_deaths, 'death').join(get_first_dt(data_confirmed, 'confirmed'))
timeline["discovery"] = datetime.strptime("11/17/19", "%m/%d/%y")

In [6]:
timeline['t1'] = (timeline["confirmed"] - timeline["discovery"]).apply(lambda x: x.days)
timeline['t2'] = (timeline["death"] - timeline["confirmed"]).apply(lambda x: x.days)

In [7]:
timeline.hist()

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x7fdb16c54588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7fdb15f4df60>]],
      dtype=object)

In [8]:
timeline.mean()

t1    106.651685
t2     17.743802
dtype: float64

In [9]:
timeline.median()

t1    110.0
t2     15.0
dtype: float64

In [10]:
timeline.corr()

         t1       t2
t1  1.00000 -0.72467
t2 -0.72467  1.00000

In [11]:
timeline.query("country == 'South Africa'")

                  death  confirmed  discovery   t1    t2
country
South Africa 2020-03-27 2020-03-05 2019-11-17  109  22.0

In [12]:
timeline.query("country == 'Italy'")

             death  confirmed  discovery  t1    t2
country
Italy   2020-02-21 2020-01-31 2019-11-17  75  21.0

In [13]:
timeline.query("country == 'Zimbabwe'")

              death  confirmed  discovery   t1   t2
country
Zimbabwe 2020-03-23 2020-03-20 2019-11-17  124  3.0

In [14]:
(timeline.t1+timeline.t2).describe()

count    121.000000
mean     119.760331
std       11.806089
min       66.000000
25%      115.000000
50%      123.000000
75%      127.000000
max      134.000000
dtype: float64

In [15]:
timeline = timeline[['t1', 't2']].join(data_population)

In [16]:
timeline['Annual_Change'] = timeline.
Annual_Change.str.replace("%", "").astype(float)
Urban_Population.str.replace("%", "").astype(float)
World_Share.str.replace("%", "").astype(float)

SyntaxError: invalid syntax (<ipython-input-16-8e296c4e4f0a>, line 1)

In [17]:
timeline

,t1,t2,Population,Annual_Change,Annual_Change_Absolute,Density,Land_Area,Migrants,Fert_Rate,Median_Age,Urban_Population,World_Share
country,,,,,,,,,,,,
Afghanistan,99,27.0,38928346.0,2.33,886592.0,60.0,65286.0,-6292.0,4.6,18,25,0.50
Albania,113,2.0,2877797.0,-0.11,-312.0,105.0,274.0,-14.0,1.6,36,63,0.04
Algeria,100,16.0,43851044.0,1.85,79799.0,18.0,2381740.0,-10.0,3.1,29,73,0.56
Andorra,106,20.0,77265.0,0.16,123.0,164.0,470.0,NaN,NaN,N.A.,88,0.00
Angola,124,9.0,32866272.0,3.27,1040977.0,26.0,1246700.0,6413.0,5.6,17,67,0.42
Antigua and Barbuda,117,NaN,97929.0,0.84,811.0,223.0,440.0,0.0,2.0,34,26,0.00
Argentina,107,5.0,45195774.0,0.93,415097.0,17.0,2736690.0,48.0,2.3,32,93,0.58
Armenia,105,25.0,2963243.0,0.19,5512.0,104.0,2847.0,-4998.0,1.8,35,63,0.04
Australia,70,35.0,25499884.0,1.18,296686.0,3.0,7682300.0,158246.0,1.8,38,86,0.33
Austria,100,16.0,9006398.0,0.57,51296.0,109.0,82409.0,65.0,1.5,43,57,0.12
Azerbaijan,105,12.0,10139177.0,0.91,91459.0,123.0,82658.0,12.0,2.1,32,56,0.13
Bahamas,120,NaN,393244.0,0.97,3762.0,39.0,1001.0,1.0,1.8,32,86,0.01
Bahrain,99,21.0,1701575.0,3.68,60403.0,2239.0,760.0,478.0,2.0,32,89,0.02
Bangladesh,112,10.0,164689383.0,1.01,1643222.0,1265.0,13017.0,-369501.0,2.1,28,39,2.11
Barbados,121,NaN,287375.0,0.12,350.0,668.0,430.0,-79.0,1.6,40,31,0.00
Belarus,103,NaN,9449323.0,-0.03,-3088.0,47.0,20291.0,873.0,1.7,40,79,0.12
Belgium,79,36.0,11589623.0,0.44,50295.0,383.0,3028.0,48.0,1.7,42,98,0.15
Belize,127,NaN,397628.0,1.86,7275.0,17.0,2281.0,12.0,2.3,25,46,0.01
Benin,120,NaN,12123200.0,2.73,322049.0,108.0,11276.0,-2.0,4.9,19,48,0.16
Bhutan,110,NaN,771608.0,1.12,8516.0,20.0,38117.0,320.0,2.0,28,46,0.01
Bolivia,115,18.0,11673021.0,1.39,159921.0,11.0,1083300.0,-9504.0,2.8,26,69,0.15
Bosnia and Herzegovina,109,16.0,3280819.0,-0.61,-20181.0,64.0,51.0,-21585.0,1.3,43,52,0.04
Botswana,134,NaN,2351627.0,2.08,4793.0,4.0,56673.0,3.0,2.9,24,73,0.03
Brazil,101,20.0,212559417.0,0.72,1509890.0,25.0,8358140.0,212.0,1.7,33,88,2.73
Brunei,113,19.0,437479.0,0.97,4194.0,83.0,527.0,0.0,1.8,32,80,0.01
Bulgaria,112,3.0,6948445.0,-0.74,-51674.0,64.0,10856.0,-48.0,1.6,45,76,0.09
Burkina Faso,114,8.0,20903273.0,2.86,581895.0,76.0,2736.0,-25.0,5.2,18,31,0.27
Burma,131,NaN,54409800.0,0.67,36438.0,83.0,65329.0,-163313.0,2.2,29,31,0.70
Cabo Verde,124,4.0,555987.0,1.10,6052.0,138.0,403.0,-1342.0,2.3,28,68,0.01
Cambodia,71,NaN,16718965.0,1.41,232423.0,95.0,17652.0,-30.0,2.5,26,24,0.21
...,...,...,...,...,...,...,...,...,...,...,...,...
Slovenia,109,9.0,2078938.0,0.01,284.0,103.0,2014.0,2.0,1.6,45,55,0.03
Somalia,120,NaN,15893222.0,2.92,450317.0,25.0,62734.0,-40.0,6.1,17,47,0.20
South Africa,109,22.0,59308690.0,1.28,75042.0,49.0,1213090.0,145405.0,2.4,28,67,0.76
Spain,76,31.0,46754778.0,0.04,18002.0,94.0,4988.0,40.0,1.3,45,80,0.60
Sri Lanka,71,61.0,21413249.0,0.42,89516.0,341.0,6271.0,-97986.0,2.2,34,18,0.27
Sudan,117,0.0,43849260.0,2.42,1036022.0,25.0,1765048.0,-50.0,4.4,20,35,0.56
Suriname,118,NaN,586632.0,0.90,526.0,4.0,156.0,-1.0,2.4,29,65,0.01
Sweden,75,40.0,10099265.0,0.63,62886.0,25.0,41034.0,40.0,1.9,41,88,0.13
Switzerland,100,9.0,8654622.0,0.74,63257.0,219.0,39516.0,52.0,1.5,43,74,0.11
Syria,126,7.0,17500658.0,2.52,430523.0,95.0,18363.0,-427391.0,2.8,26,60,0.22
Taiwan*,66,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tanzania,120,NaN,59734218.0,2.98,1728755.0,67.0,8858.0,-40076.0,4.9,18,37,0.77
Thailand,66,39.0,69799978.0,0.25,174396.0,137.0,51089.0,19444.0,1.5,40,51,0.90
Timor-Leste,126,NaN,1318445.0,1.96,25326.0,89.0,1487.0,-5385.0,4.1,21,33,0.02
Togo,110,21.0,8278724.0,2.43,196358.0,152.0,5439.0,-2.0,4.4,19,43,0.11
Trinidad and Tobago,118,11.0,1399488.0,0.32,4515.0,273.0,513.0,-800.0,1.7,36,52,0.02
Tunisia,108,15.0,11818619.0,1.06,1239.0,76.0,15536.0,-4.0,2.2,33,70,0.15
Turkey,115,6.0,84339067.0,1.09,909452.0,110.0,76963.0,283922.0,2.1,32,76,1.08
US,66,38.0,331002651.0,0.59,1937734.0,36.0,9147420.0,954806.0,1.8,38,83,4.25
Uganda,125,NaN,45741007.0,3.32,1471413.0,229.0,19981.0,168694.0,5.0,17,26,0.59
Ukraine,107,10.0,43733762.0,-0.59,-259876.0,75.0,57932.0,10.0,1.4,41,69,0.56
United Arab Emirates,73,51.0,9890402.0,1.23,119873.0,118.0,836.0,40.0,1.4,33,86,0.13
United Kingdom,75,34.0,67886011.0,0.53,355839.0,281.0,24193.0,26065.0,1.8,40,83,0.87
Uruguay,118,15.0,3473730.0,0.35,11996.0,20.0,17502.0,-3.0,2.0,36,96,0.04
Uzbekistan,119,12.0,33469203.0,1.48,487487.0,79.0,4254.0,-8863.0,2.4,28,50,0.43
Venezuela,118,13.0,28435940.0,-0.28,-79889.0,32.0,88205.0,-653249.0,2.3,30,N.A.,0.36
Vietnam,67,NaN,97338579.0,0.91,876473.0,314.0,31007.0,-80.0,2.1,32,38,1.25
West Bank and Gaza,109,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,122,NaN,18383955.0,2.93,522925.0,25.0,74339.0,-8.0,4.7,18,45,0.24
Zimbabwe,124,3.0,14862924.0,1.48,217456.0,38.0,38685.0,-116858.0,3.6,19,38,0.19

In [18]:
timeline.to_csv('timeline.csv', index = False)

In [19]:
data_population.columns

Index(['Population', 'Annual_Change', 'Annual_Change_Absolute', 'Density',
       'Land_Area', 'Migrants', 'Fert_Rate', 'Median_Age', 'Urban_Population',
       'World_Share'],
      dtype='object')